<br>
<div class="columns pt-5 mr-0">
  <div class="column is-4 is-offset-4 box is-flex is-flex-direction-column">
    <h1 class="title is-align-self-center">Modelos de Gunpla</h1>
    <%= form_tag toys_path, :method=> "get" do %>
      <div class="field has-addons ">
        <div class="select">
          <%= select_tag :attr,  options_for_select(["Nome","Ano","Qualidade", "Escala", "Série"],selected: params[:attr])%>
        </div>
        <%= text_field_tag :value, params[:value], class: "input", placeholder: "Digite o valor a buscar do modelo" %>
        <%= submit_tag("Procurar", :name => nil, class: "button is-link") %>
      </div>
    <% end %>
    <%= link_to 'Criar novo item', new_toy_path, class: 'button is-link' %>

    <hr/>
    <% @toys.each do |gundam| %>
      <%# <div style="border: 1px solid black; margin-bottom: 5px; width: 250px" class="is-align-self-center">%>
      <div class="box is-align-self-center is-flex is-flex-direction-column">
      <h3 class="is-size-4 is-align-self-center"><%= link_to gundam.nome, gundam %></h3>

      <%= image_tag "#{gundam.imagem}" %>
      </div>
    <% end %>
    </ul>
  </div>
</div>


