<div class="container">
  <h1 class="title"><%= @gundam.nome %></h1>
  <table class="table">
  <tr>
    <%= image_tag "#{@gundam.imagem}" %>
  </tr>
  <tr>
    <th>Qualidade</th>
    <td><%= @gundam.qualidade %></td>
  </tr>
  <tr>
    <th>Ano</th>
    <td><%= @gundam.ano %></td>
  </tr>
  <tr>
    <th>Escala</th>
    <td><%= @gundam.escala%></td>
  </tr>
  <tr>
    <th>Série</th>
    <td><%= @gundam.serie %></td>
  </tr>
  </table>
  <% # TODO: Implementar os links como link_to e estilizar %>

  <% if GundamModel.find_by_id(@gundam.id-1).present? %>
  <a href="/gundam_model/<%= @gundam.id-1 %>" class="button">Anterior</a>
  <% end %>
  <% if GundamModel.find_by_id(@gundam.id+1).present? %>
  <a href="/gundam_model/<%= @gundam.id+1 %>" class="button">Próximo</a>
  <% end %>
</div>